<div class="page-wrapper">
	<div class="agency-wrap">
		<div class="container page-container home-container">
			<div class="row">
				<div class="span12">
    				<%= render 'layouts/top_menu' %>

TEST
				</div>
			</div>
		</div>
	</div>
	<a href="#feature-set" class="down-tab hidden-phone" name="feature-set">
		LEARN MORE <i class="arrow arrow-down">&nbsp;</i>
	</a>
	<div class="full-width-features feature-1">
		<div class="container">
			<div class="row">
			
<!-- SERVICES SECTION
================================================== -->
				<div class="span12">
					<h1>WHAT IS FUND33?</h1>
					<h2 style="text-align: left;"><b>Have a unique idea?</b> Fund33 is a crowdfunding platform that provides a chance for products to be built through a single pledge. Simply put, we help entrepreneurs bring their ideas to life! Through a selection process, the winning entrepreneur will have their idea built out in exchange for basic equity. All selected will receive mentorship for future growth.
					</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<img src="assets/process-idea.png" alt="">
					<h3>Idea</h3>
					<p>
						Create and submit a pitch deck of your unique idea.
					</p>
				</div>
				<div class="span3">
					<img src="assets/process-pledge.png" alt="">
					<h3>Pledge</h3>
					<p>
						Pledge the required dollar amount.
					</p>
				</div>
				<div class="span3">
					<img src="assets/process-selection.png" alt="">
					<h3>Selection</h3>
					<p>
						When a project is fully funded, our team will review all submissions and select the most innovative idea.
					</p>
				</div>
				<div class="span3">
					<img src="assets/process-build.png" alt="">
					<h3>Build</h3>
					<p>
						Selected winners will have their ideas fully developed with mentorship!						
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width-features feature-2">
		<div class="container">
			<div class="row">

<!-- PRICES TABLE
================================================== -->

				<div class="span12">
					<h1>OUR FOCUS</h1>
					<h2 style="text-align: left;">Fund33 was founded on a simple yet, powerful idea: Empowering the next wave of entrepreneurs through development and mentorship.  Our team is made up of individuals with years of start-up experience and we love to work with people who want to disrupt the tech scene.  With that said, we do have a basic set of criteria that we use to judge and select our winners:
						<ul class="tickList">
							<li>Creativity of the idea</li>
							<li>Entrepreneur’s professional background</li>
							<li>Business model</li>
							<li>Market potential</li>
						</ul>
					</h2>
				</div>
				<div class="span12">
					<hr>
					<br>
				</div>
				<div class="span12">
					<h1>FUND33 START-UP PACKAGE</h1>
					<h2>Whether you get selected or not, your pledge won’t go to waste! All pledgers will receive a Fund33 Start-up Package. The package will include some awesome schwag and services from us and our supporting partners!</h2>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="span12">
				</div>
				<div class="span12">
		            <div class="pricing-table-wrapper">
		                <div class="pricing-table row-fluid">
		                    <ul class="pricing-column span2">
		                        <li class="pricing-title">Beginner</li>
		                        
		                        <li class="pricing-price">$20 <span>/month</span>
		                        </li>
		                        
		                        <li>Yes</li>
		                        <li>Yes</li>
		                        <li>Yes</li>
		                        <li>No</li>
		                        <li>No</li>
		                        
		                        <li class="pricing-button">
		                            <a class="button" href="#">Sign Up</a>
		                        </li>
		                    </ul>
		                    
		                    <ul class="pricing-column span2">
		                        <li class="pricing-title">Beginner</li>
		                        
		                        <li class="pricing-price">$20 <span>/month</span>
		                        </li>
		                        
		                        <li>5,000MB Storage</li>
		                        <li>1TB Bandwidth</li>
		                        <li>Technical support</li>
		                        <li>cPanel &amp; MySQL</li>
		                        <li>99% uptime</li>
		                        
		                        <li class="pricing-button">
		                            <a class="button" href="#">Sign Up</a>
		                        </li>
		                    </ul>
		                    
		                    <ul class="pricing-column span3">
		                        <li class="pricing-title">Special Offer!</li>
		                        
		                        <li class="pricing-price">$50 <span>/month</span>
		                        </li>
		                        
		                        <li>50,000MB Storage</li>
		                        <li>5TB Bandwidth</li>
		                        <li>Technical support</li>
		                        <li>cPanel &amp; MySQL</li>
		                        <li>100% uptime</li>
		                        
		                        <li class="pricing-button">
		                            <a class="button" href="#">Sign Up</a>
		                        </li>
		                    </ul>
		                    
		                    <ul class="pricing-column span5">
		                        <li class="pricing-title">Special Offer!</li>
		                        
		                        <li class="pricing-price">$100 <span>/month</span>
		                        </li>
		                        
		                        <li>Unlimited Storage</li>
		                        <li>Unlimited Bandwidth</li>
		                        <li>Technical support</li>
		                        <li>cPanel &amp; MySQL</li>
		                        <li>100% uptime</li>
		                        
		                        <li class="pricing-button">
		                            <a class="button" href="#">Sign Up</a>
		                        </li>
		                    </ul>
		                </div>
		            </div>				
        		</div>
			</div>
		-->
		</div>
	</div>
	<div class="full-width-features feature-3">
		<div class="container">
			<div class="row">

<!-- TEAM SECTION
================================================== -->

				<div class="span12">
					<h1>MEET THE FOUNDERS</h1><br/><br/>
				</div>
				<div class="span6">
					<img src="assets/fai.png" alt="Fai Wong">
					<h3>Fai Wong, CEO</h3>
					<p>
					Fai is the development mastermind behind Fund33. With a strong career in programming and entrepreneurship, he has led several successful start-ups around the globe. Fai has the uncanny ability to make any vision come to life. No project is too large for him and he values products that disrupt existing technology. Fai is actively involved with various accelerator programs and holds a Bachelor of Computing (Software Engineering major) from Monash University.				
					</p>
				</div>
				<div class="span6">
					<img src="assets/eric.png" alt="Eric Fung">
					<h3>Eric Fung, COO</h3>
					<p>
					Eric steers the company’s growth strategy and brand. From handling operations to marketing, his battery never runs out of power.  Prior to Fund33, Eric spent his career working in both start-ups and Fortune 500 companies.  Some recent companies include EMC² and ERPLY. Eric has a passion for helping entrepreneurs and volunteering for his community.  He graduated with a degree in Advertising and Public Relations from the Pennsylvania State University.
					</p>
				</div>
			</div>
		</div>
	</div>

<!-- BOTTOM SECTION
================================================== -->
	<div class="container call-to-action">
		<h1>WE'RE <br class="visible-phone"> COMING <br class="visible-phone"> SOON</h1>
		<a href="#top" class="scroll-top">REGISTER!</a>
	</div>
	<div class="end_page">
		<img src="assets/33.png" alt="logo">
	</div>

<!-- CONTACT FORM & MAP
================================================== -->
	<div class="footer" name="contact">
    	<%= render 'layouts/footer' %>		
	</div>
</div>
