<div class="container">
	<div class="copyright">
		<a href="index.html" class="logo">
			<img src="assets/logo-footer.png" alt="logo">
		</a>
		<p>
			Created By <a href="#">Fund33</a>. Copyright 2013.<br>
		</p>
	</div>
</div>