<div class="top-nav">
	<span class="pull-left logo">
		<%= link_to image_tag("logo.png", :alt => "Fund33 home", :title => "Fund33 home"), root_path %>
	</span>
	<ul class="nav hidden-phone">
		<li><a href="#job" class="job-link">JOBS</a></li>
		<li><a href="#contact" class="contact-link">CONTACT</a></li>
	</ul>
</div>